.Wrapper{
border: 1px solid black;
padding: 10px;
}
.Display{
    display: inline-block;
    width: 15%;
    border: 1px solid black;
    margin: 10px;
    height: 100px;
  padding: 30px 0;
  box-sizing: border-box;
  text-align: center
}


.Blue{
    background-color: blue;
    color: white;
}